@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

body {
  background-color: #13252f;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "poppins";
}

.container {
  display: flex;
  height: 800px;
  width: 1200px;

  border-radius: 15px;
  background: #252f35;
  overflow: hidden;
  box-shadow: 0.2px 6px 12px 8px rgba(0, 0, 0, 0.1);
}

.menu {
  height: 100%;
  width: 10%;
  box-shadow: 0.1px 4px 8px 5px rgba(0, 0, 0, 0.1);
  background: #2b343b;
}

.menu button {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b343b;
  border: none;
  color: white;
  font-family: "poppins";
  padding: 10px;
  margin: 8px 0px 0px 0px;
  flex-direction: column;
  /* cursor: pointer; */
}

.active {
  background-color: red;
}

.imageEditor {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.uploadImage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* .div_canvas {
  width: 700px;
  height: 900px;
  position: absolute;
  display: none;
} */

.image_canvas {
  width: 700px;
  height: 700px;
  display: none;
}
